BillectaWebServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : BillectaWebServices
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/BillectaWebServices" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/BillectaWebServices">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/BillectaWebServices">
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="Wave"/>
     <xsd:enumeration value="Nba"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="address">
    <xsd:complexContent>
     <xsd:extension base="tns:location">
      <xsd:sequence>
       <xsd:element name="city" type="xsd:string"/>
       <xsd:element name="country" type="xsd:string"/>
       <xsd:element name="countryCode" type="xsd:string"/>
       <xsd:element name="geocodeAccuracy" type="xsd:string"/>
       <xsd:element name="postalCode" type="xsd:string"/>
       <xsd:element name="state" type="xsd:string"/>
       <xsd:element name="stateCode" type="xsd:string"/>
       <xsd:element name="street" type="xsd:string"/>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="location">
    <xsd:sequence>
     <xsd:element name="latitude" type="xsd:double"/>
     <xsd:element name="longitude" type="xsd:double"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="getContact">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="name" type="xsd:string" nillable="true"/>
      <xsd:element name="orgNo" type="xsd:string" nillable="true"/>
      <xsd:element name="email" type="xsd:string" nillable="true"/>
      <xsd:element name="phone" type="xsd:string" nillable="true"/>
      <xsd:element name="address" type="xsd:string" nillable="true"/>
      <xsd:element name="zipCode" type="xsd:string" nillable="true"/>
      <xsd:element name="city" type="xsd:string" nillable="true"/>
      <xsd:element name="debtorType" type="xsd:string" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="getContactResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:ID" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="getOpportunity">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="invoice_ActionPublicId" type="xsd:string" nillable="true"/>
      <xsd:element name="invoice_Invoices_InvoiceNumber" type="xsd:string" nillable="true"/>
      <xsd:element name="invoice_ContractInvoiceActionPublicId" type="xsd:string" nillable="true"/>
      <xsd:element name="invoice_DueDate" type="xsd:string" nillable="true"/>
      <xsd:element name="invoice_Invoices_InvoicedAmount_ValueForView" type="xsd:decimal" nillable="true"/>
      <xsd:element name="invoice_Debtor_DebtorNo" type="tns:ID" nillable="true"/>
      <xsd:element name="invoice_Debtor_DebtorType" type="xsd:string" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="getOpportunityResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:ID" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="getRecurringDonation">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="contractInvoice_ActionPublicId" type="xsd:string" nillable="true"/>
      <xsd:element name="contractInvoice_RecurrenceDetails_Start" type="xsd:string" nillable="true"/>
      <xsd:element name="contractInvoice_RecurrenceDetails_End" type="xsd:string" nillable="true"/>
      <xsd:element name="contractInvoice_RecurrenceDetails_NoEndDate" type="xsd:string" nillable="true"/>
      <xsd:element name="contractInvoice_RecurrenceDetails_RecurrenceInterval" type="xsd:string" nillable="true"/>
      <xsd:element name="contractInvoice_Records_ArticleDescription" type="xsd:string" nillable="true"/>
      <xsd:element name="contractInvoice_Records_ArticleNumber" type="xsd:string" nillable="true"/>
      <xsd:element name="contractInvoice_Records_UnitPrice_ValueForView" type="xsd:decimal" nillable="true"/>
      <xsd:element name="debtor_DebtorNo" type="tns:ID" nillable="true"/>
      <xsd:element name="debtor_DebtorType" type="xsd:string" nillable="true"/>
      <xsd:element name="debtor_Autogiro_PaymentServiceSupplier" type="xsd:string" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="getRecurringDonationResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:ID" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="getContactRequest">
  <part element="tns:getContact" name="parameters"/>
 </message>
 <message name="getContactResponse">
  <part element="tns:getContactResponse" name="parameters"/>
 </message>
 <message name="getOpportunityRequest">
  <part element="tns:getOpportunity" name="parameters"/>
 </message>
 <message name="getOpportunityResponse">
  <part element="tns:getOpportunityResponse" name="parameters"/>
 </message>
 <message name="getRecurringDonationRequest">
  <part element="tns:getRecurringDonation" name="parameters"/>
 </message>
 <message name="getRecurringDonationResponse">
  <part element="tns:getRecurringDonationResponse" name="parameters"/>
 </message>
 <portType name="BillectaWebServicesPortType">
  <operation name="getContact">
   <input message="tns:getContactRequest"/>
   <output message="tns:getContactResponse"/>
  </operation>
  <operation name="getOpportunity">
   <input message="tns:getOpportunityRequest"/>
   <output message="tns:getOpportunityResponse"/>
  </operation>
  <operation name="getRecurringDonation">
   <input message="tns:getRecurringDonationRequest"/>
   <output message="tns:getRecurringDonationResponse"/>
  </operation>
 </portType>
 <binding name="BillectaWebServicesBinding" type="tns:BillectaWebServicesPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="getContact">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getOpportunity">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="getRecurringDonation">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="BillectaWebServicesService">
  <documentation></documentation>
  <port binding="tns:BillectaWebServicesBinding" name="BillectaWebServices">
   <soap:address location="https://cs1.salesforce.com/services/Soap/class/BillectaWebServices"/>
  </port>
 </service>
</definitions>